<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/Home">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <a class="nav-item nav-link text-light" routerLink="/Signin">
        <i class="fas fa-sign-in-alt"></i>&nbsp;Signin</a>
      <a class="nav-item nav-link text-light" routerLink="/Signup">
        <i class="fas fa-user-plus"></i>&nbsp;Signup</a>
    </div>
</nav>